<h1>Editing anki deck</h1>

<%= render "form", anki_deck: @anki_deck %>

<br>

<div>
  <%= link_to "Show this anki deck", @anki_deck %> |
  <%= link_to "Back to anki decks", anki_decks_path %>
</div>
