<p style="color: green"><%= notice %></p>

<h1>Weights</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Measurement</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    <% @weights.each do |weight| %>
    <tr>
      <td><%= weight.created_at.strftime("%m/%d/%Y")%></td>
      <td><%= weight.measurement.truncate(2)%></td>
      <td><%= weight.user.name%></td>
    </tr>
  <% end %>
  </tbody>
</table>