<h1>Editing data point</h1>

<%= render "form", data_point: @data_point %>

<br>

<div>
  <%= link_to "Show this data point", @data_point %> |
  <%= link_to "Back to data points", data_points_path %>
</div>
