<table class="table">
<thead>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>Person</th>
  </tr>
</thead>
  <tbody>
    <% @rows.each do |row| %>
      <tr>
        <td><%= row.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= row.measurement %></td>
        <td><%= row.user.name%></td>
      </tr>
    <% end %>
  </tbody>
  
</table>