// .data-points-create {
// }

.submit {
  margin-top: 10px;
}

.input {
  width: 50%;
}

.note {
  resize: none;
}

p {
  width: 60%;
  margin-top: 20px;
  text-align: left;
}

.hello {
  margin-top: 20px;
  color:rgb(28, 28, 172);
}

.family-photo {
  width: 25%;
}

.display-5 {
  text-align: center;
}

.calculate {
  margin-top: 25px;
  margin-bottom: 50px;
}

.tagline {
  text-align: center;
}

.form-control {
  width: 20%;
}